################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.70.tlog
/buildx86/MyTools.VC.VC.opendb
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.72.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.23.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.23.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.14.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.23.tlog
/buildx86/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.1.tlog
/buildx86/MyTools.VC.db
/buildx86/test2d/Debug
/buildx86/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog
/buildx86/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog
/buildx86/Release
/buildx86/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog
/buildx86/MyTools.dir/Release/MyTools.tlog
/buildx86/MyTools.dir/Debug/MyTools.tlog
/buildx86/MyTools.dir/Debug/MyTools.tlog
/buildx86/MyTools.dir/Debug/MyTools.tlog
/buildx86/CMakeFiles/3.6.2
/buildx86/CMakeFiles/34db824d244421bfe2a8aef23700dd00
/buildx86/CMakeFiles/vtkRenderingCore_AUTOINIT_vtkInteractionStyle_vtkRenderingFreeType_vtkRenderingFreeTypeOpenGL_vtkRenderingOpenGL.h
/buildx86/CMakeFiles/TargetDirectories.txt
/buildx86/CMakeFiles/MyToolsConfig.cmake
/buildx86/CMakeFiles/generate.stamp.list
/buildx86/CMakeFiles/generate.stamp.depend
/buildx86/CMakeFiles/generate.stamp
/buildx86/CMakeFiles/feature_tests.cxx
/buildx86/CMakeFiles/feature_tests.bin
/buildx86/CMakeFiles/cmake.check_cache
